@media (min-width: 1200px) {
  .desktop {
    display: flex;
  }

  p, li {
    line-height: 24px;
  }

  .mobile, .tablet {
    display: none;
  }

  #menu {
    display: none;
  }

  #header {
    width: 1000px;
    height: 200px;
    flex-wrap: nowrap;
    align-items: center;
  }

  #contact, #credit {
    width: 1000px;
  }

  nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    font-family: "Tex Gyre Adventor Bold";
  }

  #title-link {
    width: 70%;
    box-sizing: border-box;
  }

  #title {
    width: 100%;
    font-size: 40px;
  }

  main {
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-section {
    width: 650px;
    padding-right: 10px;
  }

  .bio-col {
    margin: 0;
    box-sizing: border-box;
    width: 350px;
  }

  #bio-img {
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
  }

  .recipe-img-portrait {
    height: 800px;
  }

  .recipe-img-square {
    width: 150px;
    height: 150px;
  }


  #about {
    padding: 0 20px;
    flex-direction: row;
    align-items: flex-start;
    width: 980px;
  }

  #about-img {
    width: 250px;
    height: 250px;
    margin: 0 40px 0 0;
  }

  #about h4 {
    font-size: 20px;
  }

  #about p {
    font-size: 18px;
    letter-spacing: .5px;
  }

  #contact {
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 18px;
    height: 175px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: "Tex Gyre Adventor Bold";
  }

  #contact > h3 {
    font-size: 26px;
    margin: 0 0 15px 0;
  }

  #icons {
    width: 250px;
  }

  #icons a {
    height: 60px;
    width: 60px;
  }

  .create-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .textarea-1 {
    width: 435px;
    padding: 10px;
  }

  .textarea-2 {
    padding: 10px;
  }

}
