@font-face {
  font-family: "Tex Gyre Adventor Bold";
  src: url("./tex-gyre-adventor/texgyreadventor-bold.otf");
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .6;
}

p, li {
  line-height: 20px;
}

p {
  margin: 0 0 10px 0;
}

#menu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, .9);
}

.slide-nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 50px;
  background-color: rgba(255, 255, 255, .9);
  left: -50%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
}

.slide {
  left: 0;
}

.slide-nav h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 32px;
  font-family: "Tex Gyre Adventor Bold";
}

.material-icons {
  font-size: 30px;
}

header, footer {
  width: 100%;
  padding: 100px 0 0 0;
  background-image: linear-gradient(rgba(255,255,255, 0), rgba(255,255,255, 1)), url("./images/restaurant_icons.png");
  background-repeat: no-repeat, repeat;
}

footer {
  padding: 0 0 100px 0;
  background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0)), url("./images/restaurant_icons.png");
}

#header {
  width: 90%;
  height: 205px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 3px black solid;
  padding: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: white;
}

#title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  font-family: "Tex Gyre Adventor Bold";
  font-size: 36px;
}

/*.card {
  background-color: #FAFAEF;
  padding: 40px 20px;
}

.card-img {
  height: 310px;
}*/

main {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.main-section h2, .main-section-bkg h2, .main-section h3 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 32px;
  margin: 0 0 20px 0;
  font-family: "Tex Gyre Adventor Bold";
}

.main-section h3 {
  font-size: 24px;
  margin: 50px 0 20px 0;
}

.main-section h4, .main-section-bkg h4 {
  display: flex;
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 5px 0;
  white-space: normal;
}

.recipe-img-portrait {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.recipe-img-square {
  width: 145px;
  height: 145px;
  object-fit: cover;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

.recent-recipe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.recent-recipe-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.recent-recipe-tags {
  margin-bottom: 5px;
}

.recent-recipe-tag {
  font-style: italic;
  opacity: .7;
}

.recipe-type-section {
  margin-bottom: 40px;
}

#contact {
  display: flex;
  width: 90%;
  border: 3px black solid;
  justify-content: center;
  padding: 30px;
  height: 100px;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  background-color: white;
  box-sizing: border-box;
}

#credit {
  display: flex;
  width: 90%;
  flex-direction: column;
  opacity: .8;
  margin: auto;
  margin-top: 0;
  box-sizing: border-box;
}

#credit > h6 {
  margin: 0;
  font-weight: 500;
}

.bio-col {
  align-items: center;
  margin: 40px auto 0 auto;
  background-color: #FAFAEF;
  padding: 50px 20px;
  width: 100%;
  box-sizing: border-box;
}

#bio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bio-img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin-bottom: 20px;
}

#bio-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}

#bio-text > h4, #about-text > h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  letter-spacing: 2px;
  font-family: "Tex Gyre Adventor Bold";
}

#about-text > h4, #about-text > p {
  display: inline;
}

.truncated-text, #about-text p {
  margin: 0;
}

.more-link {
  font-weight: 500;
  margin-top: 5px;
  font-size: 16px;
}

#about-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.home-img, .recipe-img, .recipe-img-1, .recipe-img-2, .recipe-img-3, .recipe-img-4 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  background-color: lightgrey;
}

.add-img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.recipe-title-1, .recipe-title-2 {
  font-family: "Tex Gyre Adventor Bold";
  border: none;
  box-sizing: border-box;
}

.recipe-title-1 {
  margin: 26px 0;
}

.recipe-title-1, .recipe-title-2 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 32px;
  margin: 0 0 30px 0;
  font-family: "Tex Gyre Adventor Bold";
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-card h3 {
  text-align: center;
  font-size: 26px;
  margin: 0 0 60px 0;
  font-weight: 300;
}

.recipe-rows h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.recipe-rows p, .recipe-section-4 li, .category-title {
  margin: 0 0 10px 0;
}

.card {
  background-color: #FAFAEF;
  padding: 40px 20px;
}

.card-img {
  height: 310px;
}

input {
  width: 200px;
}

.category {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.category-title {
  font-size: 16px;
  border: 1px solid #757575;
  padding: 5px;
  margin-bottom: 10px;
}

.add-text {
  margin: 5px 0 5px 10px;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.add:hover {
  opacity: .6;
}

.add > p {
  margin: 0;
}

.add-tag {
  margin-left: 0;
}

.create-tag {
  display: flex;
  flex-direction: column;
}

.tag-row {
  display: flex;
  flex-direction: row;
}

.recipe-section-4 h2, .recipe-title-2 {
  font-size: 24px;
  margin: 30px 0;
}

#recipe-tags {
  margin: 30px 0;
}

#recipe-tags span {
  display: inline-block;
  background-color: rgba(0, 0, 0, .85);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2px;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

#prep li {
  list-style: none;
  margin: 5px 0;
}

#directions {
  margin-bottom: 30px;
}

#ingredients h3, #directions h3 {
  margin: 30px 0 10px 0;
}

#prep, .ingredient-list, .directions-list {
  padding-left: 30px;
}

.ingredient-list li {
  margin-bottom: 5px;
}

#prep {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px 0;
}




#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#icons a {
  height: 60px;
  width: 60px;
}


.textarea-1, .textarea-2, .textarea-3  {
  width: 100%;
  margin-bottom: 10px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #757575;
  color: #757575;
}

.textarea-3 {
  height: 175px;
}

select {
  font-size: 14px;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: white;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
}

button:hover {
  opacity: .6;
}

.desktop {
  display: none;
}

#recipe-type {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;
}

#recipe-type > h4, #recipe-type > select {
  color: #757575;
  margin: 0 10px 0 0;
}

#recipe-type > select {
  border: 1px solid #757575;
}
