@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("./tex-gyre-adventor/texgyreadventor-regular.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Italic";
  src: url("./tex-gyre-adventor/texgyreadventor-italic.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Bold";
  src: url("./tex-gyre-adventor/texgyreadventor-bold.otf");
}

body {
  margin: 0;
  font-family: "Tex Gyre Adventor Bold";
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: .6;
}

#menu {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, .9);
}

.slide-nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 50px;
  background-color: rgba(255, 255, 255, .9);
  left: -50%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 5;
}

.slide {
  left: 0;
}

.slide-nav h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 32px;
}

.material-icons {
  font-size: 30px;
}

header {
  width: 100%;
}

#header {
  width: 80%;
  height: 350px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 3px black solid;
  padding: 30px;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-size: 30px;
}

#title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
}

#home, #about, #recipes, #contact, #credit, #recipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 50px;
}

.home-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: auto;
  box-sizing: border-box;
}

.home-col, .bio-col, .recipe-rows {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.home-img, .recipe-img, .recipe-img-1, .recipe-img-2, .recipe-img-3, .recipe-img-4 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 10px;
  box-sizing: border-box;
  display:block;
  background-color: lightgrey;
}

.add-img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 40px auto 0 auto;
}

#bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  box-sizing: border-box;
}

#bio-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

#bio > h4, #about h4 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  letter-spacing: 2px;
}

#bio p, #about p {
  font-family: "Tex Gyre Adventor";
  margin: 0;
  letter-spacing: .5px;
  font-size: 20px;
}

#bio a {
  letter-spacing: .5px;
  align-self: flex-start;
  font-size: 20px;
}

.recipe-title-1, .recipe-title-2 {
  font-family: "Tex Gyre Adventor Bold";
  border: none;
  box-sizing: border-box;
}

.recipe-title-1 {
  margin: 26px 0;
}

.recipe-rows h2, .recipe-title-1, .recipe-title-2 {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  border-bottom: 1px solid black;
  font-size: 32px;
}

.recipe-rows {
  display: flex;
  flex-direction: column;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-card h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 26px;
  margin: 0 0 50px 0;
  font-family: "Tex Gyre Adventor";
}

.recipe-rows h4 {
  margin: 0 0 50px 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.recipe-rows p, .recipe-section-4 li, .category-title {
  font-family: "Tex Gyre Adventor";
  letter-spacing: .5px;
  margin: 0 0 10px 0;
}

input {
  width: 200px;
}

.category {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.category-title {
  font-size: 16px;
  border: 1px solid #757575;
  padding: 5px;
  margin-bottom: 10px;
}

.add-text {
  margin: 5px 0 5px 10px;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.add:hover {
  opacity: .6;
}

.add > p {
  margin: 0;
}

.add-tag {
  margin-left: 0;
}

.recipe-section-4 h2, .recipe-title-2 {
  font-size: 24px;
  margin: 30px 0;
}

#recipe-tags span {
  display: inline-block;
  background-color: rgba(0, 0, 0, .85);
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  margin: 2px;
  box-sizing: border-box;
  letter-spacing: 1.75px;
  font-family: "Tex Gyre Adventor";
}

#prep li {
  list-style: none;
  margin: 5px 0;
}

#directions {
  margin-bottom: 30px;
}

#ingredients h3, #directions h3 {
  margin: 30px 0 10px 0;
}

#prep, .ingredient-list, .directions-list {
  padding-left: 30px;
}

.ingredient-list li {
  margin-bottom: 5px;
}

#prep {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 30px 0;
}

#about {
  color: black;
  letter-spacing: 1.5px;
  align-items: center;
  font-family: "Tex Gyre Adventor";
  margin-bottom: 10px;
  width: 80%;
}

#about-img {
  width: 275px;
  height: 275px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#about h4 {
  display: inline;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
  font-family: "Tex Gyre Adventor Bold";
}

#about p {
  display: inline;
}

#contact {
  width: 80%;
  border: 3px black solid;
  justify-content: center;
  padding: 30px;
  height: 100px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#icons a {
  height: 60px;
  width: 60px;
}

#credit {
  width: 80%;
  flex-direction: column;
  opacity: .8;
  margin-top: 0;
  margin-bottom: 50px;
}

#credit > h6 {
  margin: 0;
}

.textarea-1, .textarea-2, .textarea-3  {
  width: 100%;
  font-family: "Tex Gyre Adventor";
  letter-spacing: .5px;
  font-size: 14px;
  margin-bottom: 10px;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #757575;
  color: #757575;
}

.textarea-3 {
  height: 175px;
}

select {
  font-family: "Tex Gyre Adventor";
  letter-spacing: .5px;
  font-size: 14px;
  margin-bottom: 5px;
  border: 1px solid black;
  background-color: white;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

button {
  background-color: black;
  color: white;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.desktop {
  display: none;
}

/*Tablet*/
@media (min-width: 600px) {
  #header {
    width: 580px;
  }

  .home-row {
    flex-direction: row;
    width: 580px;
    justify-content: space-between;
  }

  .big-col {
    width: 305px;
    margin: 0;
  }

  .sm-col {
    width: 265px;
    margin: 0;
  }

  #img-1 {
    height: 275px;
  }

  #img-2 {
    height: 385px;
  }

  #img-3 {
    height: 315px;
  }

  #img-4 {
    height: 425px;
  }

  .recipe-rows, #about {
    flex-direction: column;
    width: 580px;
  }

  .recipe-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipe-card {
    width: 285px;
  }

  .recipe-section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .recipe-img-2, .recipe-img-3, .recipe-img-1 {
    width: 285px;
    box-sizing: border-box;
    object-fit: cover;
  }

  .recipe-img-1 {
    float: left;
    margin-right: 15px;
  }

  .bio-col {
    width: 580px;
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-card h3 {
    height: 88px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  #bio {
    align-items: flex-start;
    width: 260px;
  }

  #bio-img {
    width: 300px;
    height: 300px;
    margin: 0;
  }

  #contact {
    width: 580px;
  }

  #credit {
    width: 580px;
  }

  .create-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .textarea-1 {
    width: 285px;
  }

  .form-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    width: 48.5%;
  }

}

/*Desktop*/
@media (min-width: 1000px) {
  .desktop {
    display: flex;
  }

  .mobile, .tablet {
    display: none;
  }

  #menu {
    display: none;
  }

  #header {
    width: 980px;
    height: 200px;
    flex-wrap: nowrap;
    align-items: center;
    margin: 50px auto 0 auto;
  }

  nav {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  #title {
    width: 60%;
    font-size: 36px;
  }

  #home, #about, #contact, #credit, #recipes, #recipe {
    width: 980px;
  }

  .home-row {
    width: 100%;
    margin: 0;
  }

  .home-img, .recipe-img {
    opacity: .85;
  }

  .home-img:hover, .recipe-link:hover, .recipe-img:hover {
    opacity: 1;
    cursor: pointer;
  }

  .big-col {
    width: 260px;
    margin: 0;
  }

  .sm-col {
    width: 220px;
    margin: 0;
  }

  #img-1 {
    height: 275px;
  }

  #img-2 {
    height: 385px;
  }

  #img-3 {
    height: 315px;
  }

  #img-4 {
    height: 425px;
  }

  #recipes, #recipe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-rows {
    width: 730px;
    margin: 0;
    box-sizing: border-box;
  }

  #recipes h2, #recipe h2, .recipe-title-1 {
    margin: 0 0 20px 0;
  }

  .recipe-rows > h4 {
    width: 730px;
    margin: 0 auto 50px auto;
  }

  .recipe-section {
    justify-content: flex-start;
  }

  .recipe-card {
    width: 172.5px;
    margin: 0 10px 0 0;
  }

  .recipe-img-3 {
    width: 435px;
  }

  .bio-col {
    width: 250px;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
  }

  #bio-img {
    width: 175px;
    height: 175px;
  }

  #bio {
    width: 200px;
  }

  #bio > h4 {
    letter-spacing: 2px;
    font-size: 20px;
  }

  #bio p {
    letter-spacing: .5px;
    font-size: 15px;
  }

  #bio a {
    letter-spacing: .5px;
    font-size: 16px;
  }

  #about {
    padding: 0 20px;
    flex-direction: row;
    align-items: flex-start;
    width: 980px;
    margin-bottom: 50px;
  }

  #about-img {
    width: 300px;
    height: 300px;
    margin: 0 40px 0 0;
  }

  #about h4 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  #about p {
    font-size: 15px;
    letter-spacing: .5px;
  }

  #contact {
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 3px;
    font-size: 18px;
    height: 175px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 40px;
  }

  #contact > h3 {
    font-size: 26px;
    margin: 0 0 15px 0;
  }

  #icons {
    width: 250px;
  }

  #icons a {
    height: 60px;
    width: 60px;
  }

  .create-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .textarea-1 {
    width: 435px;
    padding: 10px;
  }

  .textarea-2 {
    padding: 10px;
  }


}
