@media (min-width: 600px) {
  .header, main {
    width: 580px;
  }

  .mobile {
    display: none;
  }

  body {
    font-size: 16px;
  }

  .bio-col {
    width: 580px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: center;
  }

  .bio {
    padding: 0 30px;
    box-sizing: border-box;
  }

  .bio-text {
    justify-content: center;
  }

  .bio-img {
    width: 180px;
    height: 180px;
    margin: 0;
  }

  .bio-text > h4, .about-text > h4 {
    font-size: 20px;
  }

  .more-link {
    font-size: 18px;
  }

  .main-section h2, .main-section h3 {
    font-size: 34px;
  }

  .main-section h3 {
    font-size: 26px;
  }

  .main-section h4 {
    font-size: 19px;
  }

  .recipe-img-portrait {
    height: 600px;
  }

  .recipe-img-square {
    width: 183.33333px;
    height: 183.33333px;
    margin: 0 0 5px 0;
  }

  .recent-recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .recent-recipe {
    width: 33.333333%;
    box-sizing: border-box;
    margin: 0;
    flex-direction: column;
    padding-bottom: 15px;
  }

  .recipe-type-section {
    margin-bottom: 35px;
  }

  .recipe-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe-img-sm {
    width: 285px;
  }

  .contact, .credit {
    width: 580px;
  }

  .create-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .prep li {
    list-style: none;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .prep p {
    width: 100px;
  }

  .form-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    width: 48.5%;
  }
}
