<form id="recipe" ng-submit="ctrl.processCreateForm()">

  <div class="recipe-rows">
    <input class="recipe-title-1" type="text" required ng-model="ctrl.formData.title" placeholder="Recipe title">
    <div id="recipe-type">
      <h4>Recipe type:</h4>
      <select ng-model="ctrl.formData.recipeType" title="Select type" ng-required="true">
        <option selected value="entree">Entree</option>
        <option value="breakfast">Breakfast</option>
        <option value="dessert">Dessert</option>
        <option value="side">Side/Snack</option>
        <option value="drink">Drink</option>
      </select>
    </div>
    <div class="recipe-section-1 create-row">
      <div class="recipe-img-1">
        <div class="add-img">
          <p>Upload image:</p>
          <input type="text" class="category-title" placeholder="Image URL"  ng-model="ctrl.formData.image1">
        </div>
      </div>
      <textarea class="textarea-1" ng-model="ctrl.formData.desc1" required>Enter text here</textarea>
    </div>
    <div class="recipe-section-3">
      <div class="recipe-img-2">
        <div class="add-img">
          <p>Upload image:</p>
          <input ng-model="ctrl.formData.image2" type="text" class="category-title" placeholder="Image URL">
        </div>
      </div>
      <div class="recipe-img-3">
        <div class="add-img">
          <p>Upload image:</p>
          <input ng-model="ctrl.formData.image3" type="text" class="category-title" placeholder="Image URL">
        </div>
      </div>
    </div>
    <div class="recipe-section-2">
      <textarea ng-model="ctrl.formData.desc2" class="textarea-2">Enter text here</textarea>
    </div>
    <div class="recipe-section-4">
      <input class="recipe-title-2" type="text" placeholder="Recipe title">
      <textarea ng-model="ctrl.formData.desc3" class="textarea-3">Enter text here</textarea>
      <div id="recipe-tags">
        <input type="text" class="category-title" placeholder="Tag">
        <div class="add add-tag">
          <i class="material-icons">add</i>
          <p>Add a tag</p>
        </div>
        <!-- <span>Veggies</span> -->
      </div>
      <ul id="prep">
        <li>
          Prep time:
          <select ng-model="ctrl.formData.prep">
            <option selected value="none">None</option>
            <option value="5 min">5 min</option>
            <option value="15 min">15 min</option>
            <option value="30 min">30 min</option>
            <option value="45 min">45 min</option>
            <option value="1 hr">1 hr</option>
            <option value="1.5 hr">1.5 hr</option>
            <option value="2 hr">2 hr</option>
            <option value="2.5 hr">2.5 hr</option>
            <option value="3 hr">3 hr</option>
            <option value="3.5 hr">3.5 hr</option>
            <option value="4 hr">4 hr</option>
            <option value="4.5 hr">4.5 hr</option>
            <option value="5 hr">5 hr</option>
          </select>
        </li>
        <li>
          Cook time:
          <select ng-model="ctrl.formData.cook">
            <option selected value="none">None</option>
            <option value="5 min">5 min</option>
            <option value="15 min">15 min</option>
            <option value="30 min">30 min</option>
            <option value="45 min">45 min</option>
            <option value="1 hr">1 hr</option>
            <option value="1.5 hr">1.5 hr</option>
            <option value="2 hr">2 hr</option>
            <option value="2.5 hr">2.5 hr</option>
            <option value="3 hr">3 hr</option>
            <option value="3.5 hr">3.5 hr</option>
            <option value="4 hr">4 hr</option>
            <option value="4.5 hr">4.5 hr</option>
            <option value="5 hr">5 hr</option>
          </select>
        </li>
        <li>
          Serves:
          <select ng-model="ctrl.formData.serves">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </li>
      </ul>
      <div id="ingredients">
        <h3>Ingredients</h3>
        <p>
          Ingredient Categories
          <select>
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </p>
        <div class="category">
          <input type="text" class="category-title" placeholder="Category Title">
          <input type="text" class="category-title add-text" placeholder="Ingredient">
          <input type="text" class="category-title add-text" placeholder="Ingredient">
          <div class="add">
            <i class="material-icons">add</i>
            <p>Add an ingredient</p>
          </div>
        </div>
        <div class="category">
          <input type="text" class="category-title" placeholder="Category Title">
          <input type="text" class="category-title add-text" placeholder="Ingredient">
          <div class="add">
            <i class="material-icons">add</i>
            <p>Add an ingredient</p>
          </div>
        </div>
      </div>
      <div id="directions">
        <h3>Directions</h3>
        <p>
          Direction Categories
          <select>
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </p>
        <div class="category">
          <input type="text" class="category-title" placeholder="Category Title">
          <input type="text" class="category-title add-text" placeholder="Step">
          <div class="add">
            <i class="material-icons">add</i>
            <p>Add a step</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit" value="Submit">
        Publish
      </button>
      <button>
        Reset
      </button>
    </div>
  </div>

  <div class="bio-col">
    <img id="bio-img" src="./css/images/about.jpg">
    <div id="bio">
      <h4>Hi, I'm Kindyl</h4>
      <p>Veggies sunt bona vobis, proinde vos postulo esse magis grape pea sprouts.</p>
      <a href="/about">Read more ></a>
    </div>
  </div>

</form>
