<div class="main-section">
  <div ng-repeat="recipe in ctrl.snapshotRecipes | limitTo:1:0">
    <a href="/recipe/{{recipe.id}}"><h2>{{recipe.title}}</h2></a>
    <a href="/recipe/{{recipe.id}}"><img class="recipe-img-portrait" src="{{recipe.image1}}"></a>
    <p class="truncated-text">
      {{recipe.desc1 | limitTo: 200}} ...
      <a class="more-link" href="/recipe/{{recipe.id}}">Read more ></a>
    </p>
  </div>
  <h3>Recent Recipes</h3>
  <div class="recent-recipes">
    <a class="recent-recipe" href="/recipe/{{recipe.id}}" ng-repeat="recipe in ctrl.snapshotRecipes | limitTo:6:1" >
      <img class="recipe-img-square" src="{{recipe.image1}}">
      <div class="recent-recipe-text">
        <h4>{{recipe.title}}</h4>
        <div class="recent-recipe-tags">
          <span class="recent-recipe-tag" ng-repeat="tag in recipe.tags | limitTo:3">
            {{tag.title}}
            <span class="recent-recipe-tag" ng-if="$index < recipe.tags.length - 1">, </span>
          </span>
        </div>
      </div>
    </a>
  </div>
  <a class="more-link" href="/recipes">View past recipes ></a>
</div>

<ng-include src="'../partials/bio.html'">
</ng-include>
