<section id="recipes">
  <div>
    <div ng-if="ctrl.snapshotAll.length > 0" class="recipe-rows">
      <h2>All Recipes</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotAll" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all recipes ></h4></a>
    </div>

    <div ng-if="ctrl.snapshotEntree.length > 0" class="recipe-rows">
      <h2>Entrees</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotEntree" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all entrees ></h4></a>
    </div>

    <div ng-if="ctrl.snapshotBreakfast.length > 0" class="recipe-rows">
      <h2>Breakfasts</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotBreakfast" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all breakfasts ></h4></a>
    </div>

    <div ng-if="ctrl.snapshotDessert.length > 0" class="recipe-rows">
      <h2>Desserts</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotDessert" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all desserts ></h4></a>
    </div>

    <div ng-if="ctrl.snapshotSide.length > 0" class="recipe-rows">
      <h2>Sides/Snacks</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotSide" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all sides/snacks ></h4></a>
    </div>

    <div ng-if="ctrl.snapshotDrink.length > 0" class="recipe-rows">
      <h2>Drinks</h2>
      <div class="recipe-section">
        <div ng-repeat="recipe in ctrl.snapshotDrink" class="recipe-card">
          <a class="recipe-link" href="/recipe/{{recipe.id}}"><img class="recipe-img" src="{{recipe.image1}}"></a>
          <h3>{{recipe.title}}</h3>
        </div>
      </div>
      <a href="/recipetype"><h4>View all drinks ></h4></a>
    </div>
  </div>
  <div class="bio-col">
    <img id="bio-img" src="./css/images/about.jpg">
    <div id="bio">
      <h4>Hi, I'm Kindyl</h4>
      <p>Veggies sunt bona vobis, proinde vos postulo esse magis grape pea sprouts.</p>
      <a href="/about">Read more ></a>
    </div>
  </div>


</section>
