<div class="main-section">
  <h2>{{ctrl.recipeTypeTitle}}</h2>
  <div class="recent-recipes">
    <a class="recent-recipe" href="/recipe/{{recipe.id}}" ng-repeat="recipe in ctrl.recipeType" >
      <img class="recipe-img-square" src="{{recipe.image1}}">
      <div>
        <h4>{{recipe.title}}</h4>
        <div class="recent-recipe-tags">
          <span class="recent-recipe-tag" ng-repeat="tag in recipe.tags | limitTo:3">
            {{tag.title}}
            <span class="recent-recipe-tag" ng-if="$index < recipe.tags.length - 1">, </span>
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
<ng-include src="'../partials/bio.html'">
</ng-include>
