<div class="main-section">
  <h2>{{ctrl.recipe.title}}</h2>
  <div>
    <img class="recipe-img-portrait" src="{{ctrl.recipe.image1}}">
    <p>
      {{ctrl.recipe.desc1}}
    </p>
  </div>
  <div class="recipe-imgs">
    <img class="recipe-img-sm" src="{{ctrl.recipe.image2}}">
    <img class="recipe-img-sm" src="{{ctrl.recipe.image3}}">
  </div>
  <p>
    {{ctrl.recipe.desc2}}
  </p>
  <div>
    <h3>{{ctrl.recipe.title}}</h3>
    <p class="recipe-blurb">{{ctrl.recipe.desc3}}</p>
    <div class="recipe-tags">
      <span class="recipe-circles" ng-repeat="tag in ctrl.recipe.tags">
        <div class="circle">
          {{tag.symbol}}
        </div>
      </span>
    </div>
    <ul class="prep">
      <li ng-if="ctrl.recipe.prep">Prep time: {{ctrl.recipe.prep}}</li>
      <li ng-if="ctrl.recipe.cook">Cook time: {{ctrl.recipe.cook}}</li>
      <li ng-if="ctrl.recipe.serves">Serves: {{ctrl.recipe.serves}}</li>
    </ul>
    <div>
      <h3>Ingredients</h3>
      <div ng-repeat="category in ctrl.ingredients">
        <h4 ng-if="ctrl.ingredients.length > 1">{{category.title}}</h4>
        <ul class="ingredient-list">
          <li ng-repeat="ingredient in category.ingredients">{{ingredient.title}}</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>Directions</h3>
      <div ng-repeat="category in ctrl.directions">
        <h4 ng-if="ctrl.directions.length > 1">{{category.title}}</h4>
        <ol class="directions-list">
          <li ng-repeat="step in category.directions">{{step.title}}</li>
        </ol>
      </div>
    </div>
    <img class="recipe-img-portrait" src="{{ctrl.recipe.image1}}">
  </div>
</div>

<ng-include src="'../partials/bio.html'">
</ng-include>
